<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('style.css/style.css') }}">
</head>

<body>

<div class="top-bar">
    <div>Open for any collaborations and offers</div>
    <div>Folio Vol.1—</div>
</div>

<div class="center-title">
    <h1>
        <span class="italic">Nathanael</span> Berthod <span class="ml">(NB)</span>
    </h1>
</div>


    <nav class="main-nav">
            <a href="{{ path('app_blog') }}">01 Works</a>
            <a href="{{ path('page1') }}">02 About</a>
            <a href="{{ path('page2') }}">03 Playgrounds</a>
            <a href="{{ path('page3') }}">04 Contact</a>
    </nav>

  <div class="bottom-section">
    <div class="left-text">
        HUY PHAN (HE/HIM) AKA HUYML IS AN<br>
        INDEPENDENT DESIGNER FROM HO CHI<br>
        MINH CITY, VIETNAM
    </div>

    <div class="middle-img">
        <img src="/images/illustration.png" alt="design">
        <p>Just an ordinary designer. From Vietnam with love.</p>
    </div>

    <div class="right-text">
        PASSIONATE ABOUT CREATING<br>
        UNFORGETTABLE AND BEAUTIFUL DIGITAL<br>
        EXPERIENCES.
    </div>
</div>


<main>
    {% block body %}{% endblock %}
</main>

</body>
</html>







